
.navbar{
  border: 2px solid black;
  width: 100vh;
  display: flex;

}

.app {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  font-family: Arial, sans-serif;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

button {
  background: #61dafb;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}
